@model Info
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello Dear User.</h1>
    <p> You Can Enter Your Information Down Bellow. </p>
</div>

@{

    //action اکشنی که میگیره مربوط به اکشن کنترلی هست که میخوایش
    // method میگه بفرسته = post = از کاربر میگیره
    // get = به کاربر نشون میده
    //

}
  


<form action="" method="post">

    <input type="text" class="" name="" />


    <input type="submit" value="ُSubmit" />
</form>