@model Info

<form asp-action="register" method="post">




    <div>
        <label asp-for="name"> </label>
        <input asp-for="name" />
    </div>

    <div>
        <label asp-for="name"> </label>
        <input asp-for="name" />
    </div>

    <div>
        <label asp-for="family"></label>
        <input asp-for="family" />
    </div>

    <div>
        <label asp-for="description"></label>
        <input asp-for="description" />
    </div>


    <div>
        <label asp-for="DOF"></label>
        <input asp-for="DOF" />
    </div>
    






    <input type="submit" value="ُSubmit" />
</form>